<%= render "shared/navbar" %>
<div class="list-content">
  <h3><%= @list.name %></h3>

  <ul>
    <% @list.bookmarks.each do |mark| %>
      <li><%= mark.movie.title %><br>
      👉 <%= link_to mark.comment, bookmark_path(mark) %></li>
    <% end %>
  </ul>
</div>
<div class="form-style">
  <h3>Add your Bookmark</h3>
  <p>Choose a movie and add your comment!</p>
  <br>

    <%= simple_form_for [@list, @bookmark]  do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie %>
      <%= f.submit %>
    <% end %>
<div>
